# Prerequisites
*.d

# Intermediate
*.s
*_dump.txt
reproduce.tar

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.lnk

# Folders
CMakeFiles/
